*
{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin:0;
    padding: 0;
}
html
{
    font-size: 1vw;
    scroll-behavior: smooth;
}
body
{
    background-color: #111111;
}
body::-webkit-scrollbar
{
    background-color: #272727;
    width:.8rem;
}
body::-webkit-scrollbar-track
{
    margin: .3rem 0;
}
body::-webkit-scrollbar-thumb
{
    background-color: #218c03;
    border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover
{
    background-color: #2cbf04;
}
main
{
    width:100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
}
nav
{   
    width:100%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    transition: all 1s ease;
}
.navPointer
{
    position: absolute;
    bottom: .3rem;
    height: .3rem;
    background-color: #218c03;
    border-radius: 20px;
    opacity: 0;
    transition: all .5s ease;

    width:20px;

}
.upperShadow
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    box-shadow: 0 0 5rem 5rem #111111;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
}
.upperShadowDisplay
{
    opacity: 1;
}
.logo
{
    scale: 0;
    opacity: 0;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}
.logo:hover
{
    color: #2cbf04;
    transform: scale(1.05);
}
.logo>img
{
    width:2rem;
    height: 2rem;
}
.logoDisplay
{
    scale: 1;
    opacity: 1;
}
.navStyles
{
    background:#0d0d0d;
}
nav>ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap:1.5rem;
    font-size: 1rem;
    align-items: center;
    font-weight: 700;
}
nav>ul>li
{
    cursor: pointer;
}
nav>ul>li:hover
{
    color: #38f205;
}
.header
{
    width:100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
}
.header>video
{
   position: absolute;
   left:0;
   right:0;
   z-index: 1;
   filter: brightness(0.8);
   width: 100%;
}
.header>h1
{
    z-index: 2;
    font-size: 4rem;
    color: #2cbf04;
    text-shadow: 0 0 .5rem #38f205;
}
.header>h2
{
    z-index: 2;
    color: rgb(255, 255, 255);
    text-shadow: .15rem .1rem 0 #2cbf04;
}
.shadow
{
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -1rem 5rem 5rem #111111 !important;
    z-index: 1;
}

.about
{
    width:100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap:3rem;
}
.image
{
    position: relative;
    display: flex;
    align-items: center;
    background-color: blue;
}
.image>img
{
    width:100%;
}
.description
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.description>p
{
    font-size: 1rem;
    color: rgb(187, 187, 187);
}
.description>h2
{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.blockquote
{
    width:100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .3rem .5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    font-style: italic;
    font-weight: 900;
    gap:.5rem;
    text-align: center;
}
.blockquote>cite
{
    font-size: 1.2rem;
    color: rgb(175, 175, 175);
}
.shadow2
{
    width: 100%;
    position: absolute;
    bottom: 4.5rem;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 2rem 2rem #111111 !important;

}


.experienceContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experienceHeader
{
    font-size: 4rem;
    text-shadow: .2rem .15rem 0 #2cbf04;
    font-weight: 900;
}
.experience
{

    background: url(../assets/img/Untitled-11.png) center;
    background-size: contain;
    width:90rem;
    height: 90rem;
    position: relative;
}
.item
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
    border: .3rem solid #111111;
    overflow: hidden;
    max-width:15rem;
    max-height: 15rem;
}
.item>h3
{
    font-weight: 700;
}
.item>img
{
    width:14.5rem;
    height: 14.5rem;
    transition: all .5s ease;
    margin-bottom: .5rem;
}
#htmlLogo
{
    transition: all 1.5s ease;
    top:5.5rem;
    left:7.5rem;
}
#cssLogo
{
    transition: all 1.5s ease;
    top:21.5rem;
    right:17rem;
}
#jsLogo
{
    transition: all 1.5s ease;
    top:52.7rem;
    left:13.2rem;
}
#reactLogo
{
    transition: all 1.5s ease;
    top:69.5rem;
    right:4rem;
}
.item>p
{
    scale: 0;
    transition: all .5s ease;
}
#htmlLogo:hover
{
    background: rgb(140, 0, 0);
    border: .3rem dashed #e34f26;
}
#cssLogo:hover
{
    background: rgb(0, 12, 140);
    border: .3rem dashed #264de4;
}
#jsLogo:hover
{
    background: rgb(140, 126, 0);
    border: .3rem dashed #f0db4f;
}
#reactLogo:hover
{
    background: rgb(0, 128, 140);
    border: .3rem dashed #00d8ff;
}
.item:hover
{
    max-height: max-content;
    transform: translate(0,-20%);
    border-radius: 1rem;
    padding: 1rem;
    max-width:22rem;
}
.item:hover>p
{
    scale: 1;
}
.item:hover>img
{
    width: 5rem;
    height: 5rem;
}


.additionalSkills
{
    width:100%;
    display: grid;
    gap:5rem 2rem;
    grid-template-columns: 1fr .2rem 1fr .2rem 1fr;
    margin-top: 4rem;
}
.additionalSkills>h3
{
    grid-column: 1/6;
    justify-self: center;
    font-size: 3rem;
    font-weight: 900;
}
.verticalLine
{
    border-left: .2rem dashed grey;
}
.item2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    gap:1rem;
    border-radius: 2rem;
    transition: all .5s ease;
    border:.3rem solid #111111;
    cursor: default;
}
.item2>h4
{
    font-size: 3rem;
}
.item2>p
{
    color: rgb(161, 161, 161);
    transition: all .5s ease;
}
.gitLogos
{
    display: flex;
    gap:3rem;
}
.gitLogos>img
{
    width:10rem;
    height: 10rem;
    transition: all .5s ease;
}
.additionalSkillsImage
{
    width:10rem;
    height: 10rem;
    transition: all .5s ease;
  
}
#gitItem:hover
{
    background-color: #5d0f00;
    border: .3rem solid #f05133;
}
#bootstrapItem:hover
{
    background-color: #3a0074;
    border: .3rem solid #8712fb;
}
#firebaseItem:hover
{
    background-color: #813e00;
    border: .3rem solid #dd6447;
}
.item2:hover>p
{
    color: white;
}
.item2:hover>.gitLogos>img,
.item2:hover>.additionalSkillsImage
{
    transform: scale(1.05);
}

.development
{
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
    align-items: center;
    margin-top: 3rem;
}
.development>h2
{
    font-size: 4rem;
    font-weight: 900;
}
.devItem
{
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 5rem 1fr;
    gap: 0 2rem;
}
.devItem>img
{
    grid-row: 1/3;
    width:20rem;
    height: 20rem;
}
.devItem>h3
{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(180, 180, 180);
    font-weight:700;
}
.devItem>p
{
    color: rgb(150, 150, 150);
    display: flex;
    align-items: center;
}
.devItemRevers
{
    grid-template-columns: 1fr 20rem;
}
.devItemRevers>img
{
    grid-column: 2/3;
}
.developmentLine
{
    width:90%;
    border-top: .3rem dashed rgb(83, 83, 83);
}




.mainProjects
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;
    margin-top: 3rem;
}
.mainProjects>h2
{
    font-size: 4rem;
    font-weight: 900;
}
.carousel
{
    border-radius: 2rem;
}
.carouselItem
{
    width:100%;
    padding: 1rem 5rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 4.5rem 1fr 3.5rem;
    gap:0 2rem;
    justify-items: center;
    align-items: center;
}
.carouselItem>h3
{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
}
.carouselItem>img
{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem .4rem #2cbf04;
}
.carouselItem>a
{
    box-shadow: 0 0 .8rem 0rem #2cbf04;
    background-color: #218c03;
    border: .3rem solid #2cbf04;
    border-radius: .8rem;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 100%;
    transition: all .3s ease;
    font-weight: 900;
    font-size: 1.5rem;
}
.carouselItem>a:hover
{
    background-color: #2cbf04;
}
.arrow1
{
    width:5rem;
    left: -1rem;
    opacity: 0.5;
}
.arrow2
{
    width:5rem;
    right: -1rem;
    opacity: 0.5;
}
.arrow1>:first-child,
.arrow2>:first-child
{
   width:3rem;
   height: 3rem;
   
}
.arrow1:hover>:first-child,
.arrow2:hover>:first-child
{
    opacity: 1;
}


.otherProjects
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:4rem 3rem;
    padding: 0 1rem;
    margin-top: 3rem;
}
.otherProjects>h2
{
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
}
.projectsItem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    gap:1rem;
    background: none;
    transition: all .5s ease;
    border: .3rem solid #111111;
    cursor: default;
    justify-content: space-between;
}

.projectsItem:hover>figcaption
{
    color: white;
}
.projectsItem>header>h3
{
    font-weight: 900;
    margin: 0;
}
.projectsItem>figcaption
{
    color: grey;
    transition: all .3s ease;
}
.projectsItem>button
{
    width:100%;
    background-color: rgb(96, 96, 96);
    border: .3rem solid grey;
    border-radius: .8rem;
    padding: .3rem 0;
    transition: all .3s ease;
    font-weight: 700;
}
.projectsItem:hover>button
{
    background-color: #218c03;
    border: .3rem solid #2cbf04;
}
.projectsItem>button:hover
{
    background-color: #2cbf04;
    border: .3rem solid #2cbf04;
}
.projectsItem>header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.projectsItem>header>img
{
    width:15rem;
    border-radius: .5rem;
    filter: grayscale(0.5);
    transition: all 1s ease;
}
.projectsItem:hover>header>img
{
    filter: grayscale(0);
    transform: scale(1.05);
}

.contact
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 1fr 1fr;
    gap:0 4rem;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.contact>h2
{
    grid-column: 1/3;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 900;
}
.contact>p
{
    color: grey;
    font-size: 1.3rem;
    text-align: center;
}
.emailForm
{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:2rem;
    grid-row: 2/4;
    grid-column: 2/3;
}
.socials
{
    display: flex;
    gap:1.5rem 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.socials>a>img
{
    width:3.5rem;
    height: 3.5rem;
    filter:brightness(0.5);
    transition: all .3s ease;
}
.socials>a>img:hover
{
    filter:brightness(1);
    transform: scale(1.1);
}
.socialsLine
{
    width:.2rem;
    height: 3rem;
    border-radius: 10px;
    background-color: grey;
}
.mail
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.6rem;
    width:100%;
    color: grey;
    cursor: default;
}
.mail>h3
{
    font-weight: 900;
    font-size: 2.2rem;
}
.mailSvg
{
    fill: grey;
    width:3rem;
    height: 3rem;
}
.mail:hover>h3
{
    color: rgb(201, 201, 201);
}
.mail:hover>.mailSvg
{
    fill: rgb(201, 201, 201);
}
.inputContainer
{
    position: relative;
    padding: .7rem 1rem;
    border: .3rem solid #218c03;
    border-radius: 1rem;
    transition: all .3s ease;
    cursor: pointer;
}
.inputContainerFocused
{
    border:.3rem solid #2cbf04;
    box-shadow: 0 0 .5rem 0rem #218c03;
    transition: all .3s ease;
}
.inputContainer>input
{
    width:100%;
    font-size: 1.5rem;
    background: none;
    outline: none;
    border:0;
    cursor: pointer;
}
.inputContainer>input:focus
{
    cursor: text;
}
.inputContainer>input::placeholder
{
    color: grey;
    font-weight: 500;
}
.inputContainer>h3
{
    position: absolute;
    top:-1.1rem;
    left:2rem;
    font-size: 1.3rem;
    background-color: #111111;
    padding: 0 .3rem;
    color: grey;
    font-weight: 900;
    cursor: pointer;
}
.emailPlaceholderFocused
{
    color:rgb(208, 208, 208) !important;
}
.emailForm>textarea
{
    width:100%;
    height: 100%;
    resize: none;
    padding: .8rem 1rem;
    outline: none;
    background: none;
    border:.3rem solid #218c03;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;
    min-height:10rem;
}
.emailForm>textarea::placeholder
{
    font-weight: 900;
}
.emailForm>textarea:focus
{
    border:.3rem solid #2cbf04;
    box-shadow: 0 0 .5rem 0rem #218c03;
    cursor: text;
}
.emailForm>textarea::-webkit-scrollbar
{
    height: 0;
    width:.8rem;
}
.emailForm>textarea::-webkit-scrollbar-thumb
{
    background: #0f4001;
    border-radius: 1rem;
    cursor: default;
}
.emailForm>textarea::-webkit-scrollbar-thumb:hover
{
    background: #176302;
}
.emailForm>button
{
    font-size: 1.5rem;
    background: #0f4001;
    border:.3rem solid #218c03;
    border-radius: 1rem;
    outline: none;
    padding: .3rem;
    font-weight: 700;
    transition: all .3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}
.emailForm>button:hover
{
    background: #218c03;
    box-shadow: 0 0 .5rem 0rem #218c03;
}
.buttonDisabled
{
    background-color: grey !important;
    border: .3rem solid rgb(85, 85, 85) !important;
}
.buttonDisabled:hover
{
    box-shadow: none !important;
}
footer
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding: 6rem 0 3rem 0;
}
footer>img
{
    width:5rem;
    height: 5rem;
}
footer>h2
{
    font-size: 2.5rem;
    font-weight: 900;
}
.error
{
    color: red;
    display: none;
    padding-left: 2rem;
    font-weight: 900;
    margin-top: -.5rem;
}
.backendError
{
    justify-content: center !important;
    display: flex !important;
}
.sendSuccess
{
    background-color: #111111;
    position: absolute;
    bottom: 0rem;
    top: 5rem;
    right: -100%;
    width:50%;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    box-shadow: 0 2rem 1rem 1rem #111111;

}
.sendSuccessDisplay
{
    right: 0;
}
.sendSuccess>button
{
    font-size: 1.5rem;
    background: #0f4001;
    border:.3rem solid #218c03;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-weight: 700;
    transition: all .3s ease, opacity .5s ease;
    width:80%;
    opacity: 0;
}
.sendSuccess>button:hover
{
    background: #218c03;
    box-shadow: 0 0 .5rem 0rem #218c03;
}
.svgOk
{
    width:5rem;
    height: 5rem;
    opacity: 0;
    transition: opacity .5s ease;
}
#sendSuccessMessage
{
    opacity: 0;
    transition: opacity .5s ease;
}