*
{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin:0;
    padding: 0;
}
html
{
    font-size: 1vw;
}
body
{
    background-color: #111111;
}
main
{
    width:100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav
{   
    width:100%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    transition: all 1s ease;
}
.logo
{
    scale: 0;
    opacity: 0;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}
.logo:hover
{
    color: #218c03;
    transform: scale(1.05);
}
.logo>img
{
    width:2rem;
    height: 2rem;
}
.logoDisplay
{
    scale: 1;
    opacity: 1;
}
.navStyles
{
    background:#0d0d0d;
}
nav>ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap:1.5rem;
    font-size: 1rem;
    align-items: center;
    font-weight: 700;
}
nav>ul>li
{
    cursor: pointer;
}
nav>ul>li:hover
{
    color: #218c03;
    color: #38f205;
}
.header
{
    width:100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
}
.header>video
{
   position: absolute;
   left:0;
   right:0;
   z-index: 1;
   filter: brightness(0.8);
   width: 100%;
}
.header>h1
{
    z-index: 2;
    font-size: 4rem;
    color: #2cbf04;
    text-shadow: 0 0 .5rem #38f205;
}
.header>h2
{
    z-index: 2;
    color: rgb(255, 255, 255);
    text-shadow: .15rem .1rem 0 #2cbf04;
}
.shadow
{
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -1rem 5rem 5rem #111111 !important;
    z-index: 1;
}
#about
{
    width:100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap:3rem;

}
.image
{
    position: relative;
    display: flex;
    align-items: center;
}
.image>img
{
    width:100%;
}
.description
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.description>h2
{
    font-size: 3rem;
}
.blockquote
{
    width:100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: .3rem double green;
    border-radius: 1rem;
}
.shadow2
{
    width: 100%;
    position: absolute;
    bottom: 4.5rem;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 2rem 2rem #111111 !important;

}
.line
{
    width:100%;
    border-top: 3px dashed grey;
    margin: 100px 0;
}
.experienceContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experienceHeader
{
    font-size: 4rem;
}
.experience
{

    background: url(../assets/img/Untitled-11.png) center;
    background-size: contain;
    width:90rem;
    height: 90rem;
    position: relative;
}
.item
{
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap:1rem;

    border: .3rem solid black;
    overflow: hidden;
    max-width:15rem;
    max-height: 15rem;
}

.item>img
{
    width:14.5rem;
    height: 14.5rem;
    transition: all .5s ease;
}
#htmlLogo
{
    transition: all 1.5s ease;
    top:5.5rem;
    left:7.5rem;
}
#cssLogo
{
    transition: all 1.5s ease;
    top:21.5rem;
    right:17rem;
}
#jsLogo
{
    transition: all 1.5s ease;
    top:52.7rem;
    left:13.2rem;
}
#reactLogo
{
    transition: all 1.5s ease;
    top:69.5rem;
    right:4rem;
}
.item>p
{
    scale: 0;
    transition: all .5s ease;
}
#htmlLogo:hover
{
    background: rgb(140, 0, 0);
    border: .3rem dashed #e34f26;
}
#cssLogo:hover
{
    background: rgb(0, 12, 140);
    border: .3rem dashed #264de4;
}
#jsLogo:hover
{
    background: rgb(140, 126, 0);
    border: .3rem dashed #f0db4f;
}
#reactLogo:hover
{
    background: rgb(0, 128, 140);
    border: .3rem dashed #00d8ff;
}
.item:hover
{
    max-height: max-content;
    transform: translate(0,-20%);
    border-radius: 1rem;
    padding: 1rem;
}
.item:hover>p
{
    scale: 1;
}
.item:hover>img
{
    width: 5rem;
    height: 5rem;
}


.additionalSkills
{
    width:100%;
    display: grid;
    gap:5rem 2rem;
    grid-template-columns: 1fr .2rem 1fr .2rem 1fr;
}
.additionalSkills>h3
{
    grid-column: 1/6;
    justify-self: center;
    font-size: 4rem;
}
.verticalLine
{
    border-left: .2rem dashed grey;
}
.item2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    gap:1rem;
    border-radius: 2rem;
    transition: all .5s ease;
    border:.3rem solid black;
    cursor: default;
}
.item2>h4
{
    font-size: 3rem;
}
.item2>p
{
    color: rgb(161, 161, 161);
    transition: all .5s ease;
}
.gitLogos
{
    display: flex;
    gap:3rem;
}
.gitLogos>img
{
    width:10rem;
    height: 10rem;
    transition: all .5s ease;
}
.additionalSkillsImage
{
    width:10rem;
    height: 10rem;
    transition: all .5s ease;
}
#gitItem:hover
{
    background-color: #5d0f00;
    border: .3rem solid #f05133;
}
#bootstrapItem:hover
{
    background-color: #3a0074;
    border: .3rem solid #8712fb;
}
#firebaseItem:hover
{
    background-color: #813e00;
    border: .3rem solid #dd6447;
}
.item2:hover>p
{
    color: white;
}
.item2:hover>.gitLogos>img,
.item2:hover>.additionalSkillsImage
{
    transform: scale(1.05);
}

.development
{
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    gap:5rem;
    align-items: center;
    margin: 2rem 0;
}
.development>h2
{
    font-size: 4rem;
}
.devItem
{
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 5rem 1fr;
    gap: 0 2rem;
}
.devItem>img
{
    grid-row: 1/3;
    width:20rem;
    height: 20rem;
}
.devItem>h3
{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.devItem>p
{

    display: flex;
    align-items: center;
}
.devItemRevers
{
    grid-template-columns: 1fr 20rem;
}
.devItemRevers>img
{
    grid-column: 2/3;
}
.developmentLine
{
    width:90%;
    border-top: .3rem dashed grey;
}
.otherProjects
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:3rem;
    margin: 3rem 0;
    padding: 0 1rem;
}
.otherProjects>h2
{
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    font-size: 4rem;
   
}
.projectsItem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    gap:1rem;
    background: none;
    transition: all .5s ease;
    border: .3rem solid black;
}
.projectsItem:hover
{
    background:#012340;
    border: .3rem solid #03A63C;
}
.projectsItem>button
{
    width:100%;
    background-color: rgb(0, 90, 0);
    border: .3rem solid green;
    border-radius: .8rem;
    padding: .3rem 0;
    transition: all .3s ease;
}
.projectsItem>button:hover
{
    background-color: green;
}
.projectsItem>img
{
    width:15rem;
    border-radius: .5rem;
}

.mainProjects
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    margin: 3rem 0;
}
.mainProjects>h2
{
    font-size: 4rem;
}
.carousel
{
    border-radius: 2rem;
}
.carouselItem
{
    width:100%;
    padding: 0 5rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 4.5rem 1fr 3rem;
    gap:0 2rem;
    justify-items: center;
    align-items: center;
}
.carouselItem>h3
{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carouselItem>img
{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 1rem;
    padding: .3rem;
}
.carouselItem>a
{
    background-color: rgb(0, 90, 0);
    border: .3rem solid green;
    border-radius: .8rem;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 100%;
    transition: all .3s ease;
}
.carouselItem>a:hover
{
    background-color: green;
}
.arrow1
{
    width:5rem;
    left: -1rem;
}
.arrow2
{
    width:5rem;
    right: -1rem;
}
.arrow1>:first-child,
.arrow2>:first-child
{
   width:3rem;
   height: 3rem;
}
.contact
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr 8rem;
    gap:2rem;
    margin: 2rem 0;
}
.contact>h2
{
    grid-column: 1/3;
    text-align: center;
    font-size: 4rem;
}
.emailForm
{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:2rem;
    grid-row: 2/4;
    grid-column: 2/3;
}
.socials
{
    display: flex;
    gap:0 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.socials>a>img
{
    width:2.5rem;
    height: 2.5rem;
    filter:brightness(0.5);
    transition: all .3s ease;
}
.socials>a>img:hover
{
    filter:brightness(1);
    transform: scale(1.1);
}
.socialsLine
{
    width:.2rem;
    height: 3rem;
    border-radius: 10px;
    background-color: grey;
}
.mail
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.6rem;
    width:100%;
}
.inputContainer
{

    position: relative;
    padding: .5rem .8rem;
    border: .3rem solid green;
    border-radius: 1rem;
}
.inputContainer>input
{
    width:100%;
    font-size: 1.5rem;
    background: none;
    outline: none;
    border:0;
}
.inputContainer>h3
{
    position: absolute;
    top:-1.2rem;
    left:2rem;
    font-size: 1.5rem;
    background-color: black;
    padding: 0 .3rem;
}
.emailForm>button
{
    font-size: 1.5rem;
    background-color: rgb(0, 74, 0);
    border:.3rem solid green;
    border-radius: 1rem;
    outline: none;
    padding: .3rem;
}
.emailForm>textarea
{
    width:100%;
    height: 10rem;
    resize: none;
    padding: .5rem .8rem;
    outline: none;
    background: none;
    border:.3rem solid green;
    border-radius: 1rem;
    font-size: 1rem;
}
.emailForm>textarea::placeholder
{
    font-weight: 900;
}
